.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  max-height: 8vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
section {
  margin: 1.5rem;
}
p {
  margin: 0.5rem;
}

ul {
  text-align: left;
  padding-left: 0.5rem;
}
.main-button {
  font-size: 2rem;
  border-radius: 5px;
}
